<form #form="ngForm" class="mb-4 mt-4">
    <div class="form-group">
      <label>Name</label>
      <input required type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="person.name">
    </div>
    <div class="form-group">
      <label>Height</label>
      <input required type="text" class="form-control" name="height" placeholder="Height" [(ngModel)]="person.height">
    </div>
    <div class="form-group">
      <label>Mass</label>
      <input required type="text" class="form-control" name="mass" placeholder="Mass" [(ngModel)]="person.mass">
    </div>
    <div class="form-group">
      <label>Hair color</label>
      <select class="form-control" placeholder="Eye color" name="hair_color" [(ngModel)]="person.hair_color">
        <option *ngFor="let hair of hairEnum">{{ hair }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Skin color</label>
      <input required type="text" class="form-control" name="skin_color" placeholder="Skin color" [(ngModel)]="person.skin_color">
    </div>
    <div class="form-group">
      <label>Eye color</label>
      <select required class="form-control" placeholder="Eye color" name="eye_color" [(ngModel)]="person.eye_color">
        <option *ngFor="let eye of eyeEnum">{{ eye }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Birth year</label>
      <input required type="number" class="form-control" name="birth_year" placeholder="Birth year" [(ngModel)]="person.birth_year">
    </div>
    <div class="form-check">
      <input required class="form-check-input" type="radio" name="male" value="male" [(ngModel)]="person.gender">
      <label class="form-check-label">
        Male
      </label>
    </div>
    <div class="form-check">
      <input required class="form-check-input" type="radio" name="famale" value="famale" [(ngModel)]="person.gender">
      <label class="form-check-label">
        Famale
      </label>
    </div>
    <div class="form-group">
      <label>Homeworld</label>
      <select required class="form-control" placeholder="Eye color" name="homeworld" [(ngModel)]="person.homeworld">
        <option *ngFor="let planet of planetEnum" [value]="planet.url">{{ planet.name }}</option>
      </select>
    </div>
    <button type="button" class="btn btn-light" [routerLink]="['..']">Back</button>
    <button type="submit" class="btn btn-primary ml-2" [disabled]="!form.valid" (click)="save()">Submit</button>
</form>